:root {
    --s-100: #ffffff;
    --s-200: #f4f6f8;
    --s-300: #dde3e8;
    --s-400: #9aa5ad;
    --s-500: #39424a;
    --blue: #1474bd;
    --blue-dark: #0b4a7a;
    --green: #1b8f7d;
    --green-dark: #0d6e5f;
    --red: #bd1414;
    --red-dark: #7a0b0b;
    --yellow: #bda414;
    --yellow-dark: #bd8214;
    --r1: 16px;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    --header-height: 50px;
    --main-height: calc(100vh - var(--header-height))
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    background: var(--s-200);
    color: var(--s-500);
    min-height: 100vh;
    user-select: none;
}

/* CABEÇALHO */

header {
    display: flex;
    background-color: var(--s-100);
    border-bottom: 1px solid var(--s-300);
    padding: 10px;
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;

    .left {
        display: flex;
        align-items: center;
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

/* BOTAO */

button {
    background-color: var(--s-300);
    border: 1px solid var(--s-400);
    padding: 6px 12px;
    border-radius: 12px;

    &:hover {
        background-color: var(--s-200);
        border-color: var(--s-300);
    }

    &:focus {
        outline: 3px solid var(--blue-dark);
    }

    &.primary {
        background-color: var(--green-dark);
        border-color: var(--green);
        color: var(--s-100);

        &:hover {
            background-color: var(--green);
        }
    }
}

/* MAIN */
main {
    display: flex;
    height: var(--main-height);

    .left, .right {
        width: 100%;
        height: 100%;
        background-color: var(--s-200);
        padding: 12px;

        display: flex;
        flex-direction: column;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            section {
                background-color: var(--s-100);
                padding: 10px;
                width: 100%;
                max-width: 600px;
                border-radius: 16px;
                box-shadow: var(--shadow);

                .cases {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .case {
                        display: flex;
                        align-items: center;
                        user-select: text;

                        .case-right {
                            align-items: center;
                            display: flex;
                            gap: 8px;
                        }
                        .status {
                            min-height: 16px;
                            min-width: 16px;
                            max-height: 16px;
                            max-width: 16px;
                            height: 16px;
                            width: 16px;
                            margin-left: 8px;
                            margin-right: 8px;
                            border-radius: 8px;
                            background-color: var(--blue);

                            &.severe {
                                background-color: var(--red);
                                animation: 1s status-blip-severe infinite linear;
                            }
                            &.moderate {
                                background-color: var(--yellow);
                                animation: 2s status-blip-moderate infinite linear;
                            }
                            &.light {
                                background-color: var(--green);
                            }
                            &.minimum {
                                background-color: var(--s-100);
                                border: 4px solid var(--blue);
                            }
                        }
                    }
                }
            }

            h2 {
                width: 100%;
                font-size: large;
                margin-bottom: 12px;
            }
        }

        h1 {
            margin-bottom: 24px;
        }
    }

    .left {
        border-right: 1px solid var(--s-300);
    }
    .right {
    }
}

@keyframes status-blip-severe {
    from {box-shadow: 0px 0px 0px 0px #7a0b0baa;}
    to   {box-shadow: 0px 0px 0px 7px #7a0b0b00;}
}
@keyframes status-blip-moderate {
    from {box-shadow: 0px 0px 0px 0px #bd821466;}
    to   {box-shadow: 0px 0px 0px 5px #bd821400;}
}